<br>
<ul class="grid cs-style-5">
  <% items = item.split(" ") %>
  <% items.each do |item| %>
  <li>
    <figure class="thumbnail">
      <img src="/assets/test/<%= item %>.jpg" alt="img0<%= item %>">
      <figcaption>
        <h5>Settings</h5>
        <span>Jacob Cummings</span><br>
        <a href="#" class="btn btn-default">Take a look</a>
        <a href="#" class="btn <%= button %>">Take a look</a>
      </figcaption>
    </figure>
  </li>
  <% end %>
</ul>
<div style="display:none;" class="nav_up" id="nav_up"></div>
<div style="display:none;" class="nav_down" id="nav_down"></div>

<script>
$(function() {
  var $elem = $('#welcome');

  $('#nav_up').fadeIn('slow');
  $('#nav_down').fadeIn('slow');  

  $(window).bind('scrollstart', function(){
    $('#nav_up,#nav_down').stop().animate({'opacity':'0.2'});
  });
  $(window).bind('scrollstop', function(){
    $('#nav_up,#nav_down').stop().animate({'opacity':'1'});
  });

  $('#nav_down').click(
    function (e) {
      $('html, body').animate({scrollTop: $elem.height()}, 800);
    }
    );
  $('#nav_up').click(
    function (e) {
      $('html, body').animate({scrollTop: '0px'}, 800);
    }
    );
});
</script>