<div id ="welcome">
	<div class="bs-header" id="content">
		<div class="container">
			<br>
			<div class="container-test">
				<section id="dg-container-test" class="dg-container-test">
					<div class="dg-wrapper">
						<a href="#"><img src="/assets/test/1.jpg" alt="image01"><div>http://www.colazionedamichy.it/</div></a>
						<a href="#"><img src="/assets/test/2.jpg" alt="image02"><div>http://www.percivalclo.com/</div></a>
						<a href="#"><img src="/assets/test/3.jpg" alt="image03"><div>http://www.wanda.net/fr</div></a>
						<a href="#"><img src="/assets/test/4.jpg" alt="image04"><div>http://lifeingreenville.com/</div></a>
						<a href="#"><img src="/assets/test/5.jpg" alt="image05"><div>http://circlemeetups.com/</div></a>
						<a href="#"><img src="/assets/test/6.jpg" alt="image06"><div>http://www.castirondesign.com/</div></a>
						<a href="#"><img src="/assets/test/7.jpg" alt="image07"><div>http://www.foundrycollective.com/</div></a>
						<a href="#"><img src="/assets/test/8.jpg" alt="image08"><div>http://www.mathiassterner.com/home</div></a>
						<a href="#"><img src="/assets/test/9.jpg" alt="image09"><div>http://learnlakenona.com/</div></a>
						<a href="#"><img src="/assets/test/10.jpg" alt="image10"><div>http://www.neighborhood-studio.com/</div></a>
						<a href="#"><img src="/assets/test/11.jpg" alt="image11"><div>http://www.beckindesign.com/</div></a>
						<a href="#"><img src="/assets/test/12.jpg" alt="image12"><div>http://kicksend.com/</div></a>
					</div>
					<nav> 
						<section id="set-1">
							<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
								<span class="dg-prev hi-icon hi-icon-prev"></span>
								<a href="#" class="btn btn-outline-inverse btn-lg">Khởi tạo website</a>
								<span class="dg-next hi-icon hi-icon-next"></span>
							</div>
						</section>
					</nav>
				</section>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="bs-example bs-example-tabs">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#hot" data-toggle="tab"><span class="glyphicon glyphicon-bookmark"></span> Website nổi bật</a>
				</li>
				<li><a href="#access" data-toggle="tab"><span class="glyphicon glyphicon-stats"></span> Website truy cập nhiều nhất</a></li>
				<li><a href="#new" data-toggle="tab"><span class="label label-danger">Mới</span> Website mới thành lập</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="hot">
					<%= render "websites",button:"btn-success", icon: "heart", item: "1 2 3 4 5 6 7 8 9" %>
				</div>
				<div class="tab-pane fade" id="access">
					<%= render "websites",button:"btn-warning", icon: "heart", item: "9 8 7 6 5 4 3 2 1" %>
				</div>
				<div class="tab-pane fade" id="new">
					<%= render "websites",button:"btn-danger", icon: "heart", item: "3 4 5 7 8 6 9 1 2" %>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function() {
	$('.dg-container-test').gallery({
		autoplay  : true,
		interval: 2000,
		current: 0,
	});
});
var hash = window.location.hash,
current = 0,
demos = Array.prototype.slice.call( document.querySelectorAll( '#codrops-demos > a' ) );

if( hash === '' ) hash = '#set-1';
setDemo( demos[ parseInt( hash.match(/#set-(\d+)/)[1] ) - 1 ] );

demos.forEach( function( el, i ) {
	el.addEventListener( 'click', function() { setDemo( this ); } );
} );

function setDemo( el ) {
	var idx = demos.indexOf( el );
	if( current !== idx ) {
		var currentDemo = demos[ current ];
		currentDemo.className = currentDemo.className.replace(new RegExp("(^|\\s+)" + 'current-demo' + "(\\s+|$)"), ' ');
	}
	current = idx;
	el.className = 'current-demo'; 
}
$('#myTab a').click(function (e) {
	e.preventDefault()
	$(this).tab('show')
})
</script>