<p>Gửi <%= @user.name %>,</p>
<h3>Bạn quên mật khẩu? Chúng tôi sẽ giúp bạn khôi phục mật khẩu qua các bước sau đây:</h3>
<p>Bạn đang lấy lại mật khẩu cho tài khoản: <b><%= @user.email %></b> </p>
<%= link_to "Click vào đây để bắt đầu khôi phục mật khẩu", reset_password_user_url(@user.to_secure_param) %>
<p> Đường link này chỉ có hiệu lực trong vòng một ngày, bạn cần lưu ý điều này nhé. </p>
