@import "bootstrap";


/* overwrite bootstrap */

.nav .caret
{
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.bs-docs-home, .bs-header
{
  padding-top: 50px;
  color:#cdbfe3;
  background-color:#563d7c;
  background-image:url(pages/background.png);
  background-size: 100% auto;
  min-height: 320px;
}

.homepage
{
  background-image:url(pages/background.png);
}

.bs-docs-home, .bs-header h1
{
  font-size:50px;
  line-height:2;
  color:#fff;  
}

.bs-docs-home, .bs-header p
{
  font-size:20px;
  color:#cdbfe3; 
}


.modal-footer
{
  margin-top:0px;
}
.navbar-fixed-top
{
  top:0;
  z-index:1030;
}
.navbar
{
  min-height: 50px;
  margin-bottom:20px;
  border:1px solid transparent;
}
.bs-docs-nav
{
  text-shadow:0 -1px 0 rgba(0,0,0,.15);
  background-color:#563d7c;
  border-color:#463265;
  box-shadow:0 1px 0 rgba(255,255,255,.1);
}
.bs-docs-nav .navbar-brand
{
  color: #fff;
}
.bs-docs-nav .navbar-collapse
{
  border-color:#463265;
}
.bs-docs-nav .navbar-nav > li > a
{
  font-size: 16px;
  color:#cdbfe3;
}
.bs-docs-nav .navbar-nav > .active > a, .bs-docs-nav .navbar-nav > .active > a:hover
{
  color: #fff;
  font-weight: bold;
  background-color:#463265;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
{
  font-weight: bold;
  color: #fff;
  background-color:#463265;
}

.bs-masthead h1
{
  font-size:100px;
  line-height:1;
  color:#fff;
}

.bs-masthead .lead
{
  margin-right: 40px;
  font-size:20px;
  color:#cdbfe3;
}

.btn-outline-inverse
{
  color:#fff;
  background-color:transparent;
  border-color:#cdbfe3;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active
{
  color:#563d7c;
  text-shadow:none;
  background-color:#fff;
  border-color: #fff;
}

.bs-old-docs
{
  padding:15px 20px;
  color: #777;
  background-color:#fafafa;
  border-top:1px solid #fff;
  border-bottom:1px solid #e5e5e5;
}

.sidebar-nav a
{
  color:#563d7c;
  font-size: 16px;
}

.navbar .divider-vertical
{
  height:50px;
  border-right:1px solid #654694;
  border-left:1px solid #473364;
}

.nav-tabs a
{
  font-size: 16px;
  font-weight: bold;
  color: #463265 !important;
}

.nav-tabs a span
{
  padding-right: 10px;
  color: #463265 !important;
}

.caption
{
  padding: 4px;
  text-align: center;
}

/* HTML */
a{
  text-decoration: none !important;
}

h1,h2,h3,h4 {
  text-shadow:2px 2px 5px #ccc;
  color:#563d7c;
} 

/* FOOTER */
footer {
  margin-top: 70px;
  padding-top: 5px;
  color: #999;
  margin-bottom: 10px;
  
}

footer hr
{
  width: 20px;
}

footer p{
  color:#fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}  

footer a:hover { 
  color: #fff;
  text-decoration: none;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.home
{
  padding-top: 80px;
}


.sign-in{
  background-image:url(pages/background.gif);
  padding: 5px 5px 5px 5px;
  width: 300px
}

.btn-webrent
{
  color: white;
  background-color:#8C5CB8;
  border-color: #8131AD;
}

.btn-webrent:hover, .btn-webrent:focus
{
  color: white;
  background-color:#764D9B;
  border-color: #8131AD;
}

.pricing-table .plan {
  border-radius: 5px;
  background-color: #fff;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}

.plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
}

.plan {
  padding: 10px;
  color: #ff;
  background-color: #5e5f59;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.plan-name-bronze {
  padding: 10px;
  color: #fff;
  background-color: #665D1E;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.plan-name-silver {
  padding: 10px;
  color: #fff;
  background-color: #C0C0C0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.plan-name-gold {
  padding: 10px;
  color: #fff;
  background-color: #FFD700;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
} 

.pricing-table-bronze  {
  padding: 10px;
  color: #fff;
  background-color: #f89406;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.pricing-table .plan .plan-name span {
  font-size: 20px;
}

.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.pricing-table .plan ul li.plan-feature {
  padding: 15px 10px;
  border-top: 1px solid #c5c8c0;
}

.pricing-three-column {
  margin: 0 auto;
  width: 80%;
}

.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  zoom:1;
  *display:inline;
}

.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}

.btn-plan-select {
  padding: 8px 25px;
  font-size: 18px;
}
.main-webrent{
  background-image: url(pages/background.gif);
}

.main-webrent footer p
{
  color: #463265 !important;
}

.main-webrent footer a {
  color: #463265 !important;
  text-decoration: none;
}  

/* LEFT MENU */
.left-menu
{
  font-size: 20px;
  font-family: Arial;
  line-height: 100%;
  text-align: left;
}
.left-menu-color
{
  color: #959595 !important;
}

.left-menu-user-color
{
  color: #005580 !important;
}

.left-menu img
{
  padding-right: 10px;
}
/* Custom Search */
#custom-search-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  height: 30px;
}

#custom-search-form .search-query {
  color:#563d7c;
  width: 250px;
  padding-right: 35px;
  padding-right: 35px \9;
  padding-left: 10px;
  padding-left: 10px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-form .btn-search {
  border: 0;
  background: none;
  /** belows styles are working good */
  position: relative;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: -55px;
  margin-left: 200px;
}

.search-query:focus + button {
  z-index: 3;
}

.advance-search
{
  font-size: 15px;
}

/* test */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
section, header{
  display: block;
}
/* General Demo Style */a{
  color: #ddd;
  text-decoration: none;
}
a:hover{
  color: #fff;
}
.container-test{
  width: 100%;
  position: relative;
  text-align: center;
}
.clr{
  clear: both;
}
.container-test > header{
  padding: 20px 30px 10px 30px;
  margin-bottom: 40px;
  position: relative;
  display: block;
  text-align: center;
}
.container-test > header h1{
  font-family: "BebasNeueRegular", Arial, sans-serif;
  font-size: 35px;
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(101,141,114,0.9);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    padding: 0px 0px 5px 0px;
}
.container-test > header h1 span{
  color: #a0caad;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
}
.container-test > header h2{
  
}
/* Header Style */
.codrops-top{
  line-height: 24px;
  font-size: 11px;
  background: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
  -webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
  0%{top:-30px; opacity: 0;}
  100%{top:0px; opacity: 1;}
}
.codrops-top a{
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  text-shadow: 0px 1px 1px #fff;
  display: block;
  float: left;
}
.codrops-top a:hover{
  background: #fff;
}
.codrops-top span.right{
  float: right;
}
.codrops-top span.right a{
  float: left;
  display: block;
}
.codrops-demos{
  text-align:center;
  display: block;
  padding-top: 20px;
}
.codrops-demos a, 
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
    display: inline-block;
  border: 1px solid #719c7f;
  padding: 4px 10px 3px;
  font-size: 13px;
  line-height: 18px;
  margin: 0px 3px;
  font-weight: 800;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #90bd9e;
  background: -moz-linear-gradient(top, #90bd9e 0%, #72a081 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90bd9e), color-stop(100%,#72a081));
  background: -webkit-linear-gradient(top, #90bd9e 0%,#72a081 100%);
  background: -o-linear-gradient(top, #90bd9e 0%,#72a081 100%);
  background: -ms-linear-gradient(top, #90bd9e 0%,#72a081 100%);
  background: linear-gradient(top, #90bd9e 0%,#72a081 100%);
}
.codrops-demos a:hover{
  background: #85b995;
}
.codrops-demos a:active{
  -webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
  -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.4);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
  color: #506757;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}
/* Media Queries */
@media screen and (max-width: 767px) {
  .container-test > header{
    text-align: center;
  }
  p.codrops-demos {
    position: relative;
    top: auto;
    left: auto;
  }
}

.dg-container-test{
  width: 100%;
  position: relative;
}
.dg-wrapper{
  width: 481px;
  height: 316px;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
.dg-wrapper a{
  width: 482px;
  height: 316px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent url(test/browser.png) no-repeat top left;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
  display: block;
  padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  width: 100%;
  bottom: -55px;
  display: none;
  position: absolute;
}
.dg-wrapper a.dg-center div{
  display: block;
}
.dg-container-test nav{
  padding-top: 40px;
}

.dg-container-test nav .dg-prev{
  margin-right: 10px
}
.dg-container-test nav .dg-next{
  margin-left: 10px
}

.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em;
}

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: -0px 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box; 
  -moz-box-sizing: content-box; 
  box-sizing: content-box;
}

.hi-icon:before {
  font-family: 'ecoicon';
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
/* Effect 1 */
/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 3px #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.no-touch .hi-icon-effect-9a .hi-icon:hover:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.5;
}

.no-touch .hi-icon-effect-9a .hi-icon:hover {
  box-shadow: 0 0 0 10px rgba(255,255,255,1);
  color: #fff;
}

/* Effect 9b */
.no-touch .hi-icon-effect-9b .hi-icon:hover:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.no-touch .hi-icon-effect-9b .hi-icon:hover {
  box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
  color: #fff;
}


/* Effect 1a */
.no-touch .hi-icon-effect-1a .hi-icon:hover {
  background: rgba(255,255,255,1);
  color: #563d7c;
}

.no-touch .hi-icon-effect-1a .hi-icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.hi-icon-next:before {
  font-family: 'Glyphicons Halflings';
  content: "\e080";
  font-size: 20px;
  margin-top:-14px;
}

.hi-icon-prev:before {
  font-family: 'Glyphicons Halflings';
  content: "\e079";
  font-size: 20px;
  margin-top:-14px;
  margin-left:-5px;
}

