<footer class="footer clearfix">
	<div class="container">
		<center>
		<small>
			<p><a href="#" style="font-size:15px">Webrent</a> design by <b>DungVT</b> - Địa chỉ: <b>Khâm Thiên, Đống Đa, TP.Hà Nội</b>  - Số điện thoại: <b>(+84)-1255921151</b> - Email liên hệ: <a href="#"><b>dungvt9691@gmail.com</b></a></p>
		</small>
		</center>
	</div>
</footer>