<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%=root_path %>" style="font-size:30px"><b>Webrent</b></a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Giới thiệu</a>
        </li>
        <li>
          <a href="#">Danh sách website</a>
        </li>
        <li>
          <a href="#">Hướng dẫn</a>
        </li>
        <li >
          <a href="#">Nạp thẻ</a>
        </li>
        <li >
          <a href="#"><span class="label label-warning" style="font-size:18px"><span class="glyphicon glyphicon-shopping-cart"></span> Cửa hàng</span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">      
        <% if signed_in? %>
        <li><%= link_to "Đăng xuất", signout_path, method: "delete" %></li>
        <% else %>
        <li><%= link_to "Đăng ký", signup_path %></li>
        <li>
          <%= link_to "Đăng nhập", signin_path %>
        </li>
      </li>
      <% end %>
    </ul>
  </nav>
</div>
</header>


