<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title"><b>Lấy lại mật khẩu</b></h3>
        <br>
        <p>Chúng tôi sẽ gửi cho bạn email làm thế nào để lấy lại mật khẩu.</p>
      </div>
      <div class="modal-body">
        <div id="alert-danger" style="display:block" class="alert alert-danger">
          Không có người dùng nào sử dụng địa chỉ email này. Mời nhập lại!
        </div>
        <div id="alert" style="display:none" class="alert alert-info">
          Chúng tôi đã gửi cho bạn một email để lấy lại mật khẩu.<br>
          Nếu bạn không nhận được email nào trong vòng một đến 2 giờ tới. Hãy kiểm tra thư mục spam trên email của bạn.
        </div>
        <div id="reset-password">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
              <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" class="form-control" id="email" placeholder="Nhập vào địa chỉ email của bạn">
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <%= link_to "Lấy lại mật khẩu", "#",class: "btn btn-primary",id:"reset" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
jQuery(document).ready(function($) {
  $(".forgot").click(function(){
    $("#alert-danger").css("display","none")
    $("#alert").css("display","none")
    $("#reset-password").css("display","block")
    $('#myModal').modal({
      keyboard: false
    })
    $('#myModal').modal({
      backdrop: false
    })

  })

  $("#reset").click(function(){
    $email = $("#email").val()

    $.ajax({ type: "POST",   
      url: "<%=  forgot_password_path %>",   
      data: {email:$email} ,
      success : function(data)
      {
      }
    });
  })

});

</script>